[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.x
[submodule "thirdparty/SDL_image"]
	path = thirdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "thirdparty/SDL_ttf"]
	path = thirdparty/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
